<h1>物件詳細</h1>
<p>物件名: <%= @rental.name %></p>
<p>賃料: <%= @rental.rent %></p>
<p>住所: <%= @rental.address %></p>
<p>築年数: <%= @rental.age %></p>
<p>備考: <%= @rental.remarks %></p>

<div class="station_form">
  <% n = 0 %>
  <% @rental.nearest_stations.each do |nearest_station| %>
    <h2>nearest station<%= n += 1 %></h2>
      <p>
        <strong>路線名:</strong><%= nearest_station.line %>
      </p>
      <p>
        <strong>駅名:</strong><%= nearest_station.station %>
      </p>
      <p>
        <strong>駅からの所要時間（徒歩）:</strong><%= nearest_station.time %>
      </p>
  <% end %> 
</div>

<%= link_to '編集する', edit_rental_path %> |
<%= link_to '戻る', rentals_path %>